.annotation-red-chart {
  fill: var(--secondary);
}

.annotation-not-red-chart {
  fill: var(--primaryDark);
}

.annotation-red-input  {
	border: 3px solid red;
  border-radius: 3px;
}
.annotation-green-input  {
	border: 1px solid green;
  border-radius: 3px;
}