.aimms-widget[data-widget\.uri="gnt_shiftGantt"] .awf-dock.top{
  display: none;
}

.tag-label>.label {
  background: linear-gradient(180deg, rgba(255,255,255,1) 20%, var(--primary) 100%);
  border-bottom: 2px solid var(--primaryDark);
  font-weight: bold;
  color: var(--color_text_default);
}